body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
     ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      padding: 16px;
     }
  
  a {
    color: white;
    text-decoration: none;
  }
h1{
    text-align: center;
    color: green;
}
.container{
    padding: 0px 50px;
}

  nav a:hover{
    color:green;
  }
  footer{
    display: flex;
    justify-content: space-evenly  ;
    margin-left:130px;
  }
  footer a{
    margin: px;
    text-align: center;
   
  }
  .contact-hover:hover{
    color: green;
    text-decoration: underline;
  }